body {
  width: 400px;
  background-color: #FFFFFF;
  color: Black;
  text-align: center;
}

.outer {
  margin: 10px;
  border: 2px solid Black;
  border-radius: 10px;
}

ol {
  text-align: left;
  font-weight: bold;
}
